<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
        <title>Home</title>
    </head>
    <body>
        <section class="her is-fullheight is-light">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <br><h1 class="title">DataLeaks</h1>
                    <h2 class="subtitle">Find out what metadata you are using</h2><br>
                </div>
                <div class="mt-5 has-text-centered">
                    <form method="post" action="{% url 'home_view' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.file }} <br><br>
                        <button class="button is-link is-vcentered"  id="custom-file-input" type="submit">Check metadata</button>
                        <button class="button is-link is-vcentered"  id="custom-file-input" type="submit">Download secured version</button>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>