<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <title>MetaInfo</title>
    <style>
        .container has-text-centered{
            background-color: gray;
        }
        a { 
            color: inherit; 
        } 
    </style>
</head>
<body>
    <section class="her is-fullheight is-light">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <br><h1 class="title">Your metadata in file</h1>
                        {%if meta_data.items %} 
                            <div class="container has-text-centered column is-three-fifths is-offset-one-fift box has-background-light">
                                {% for key, value in meta_data.items %}
                                    <strong> {{ key }}:</strong> {{ value|default:"None" }} <br>
                                {% endfor %}
                            </div>
                        {%else%}
                            <div class="container has-text-centered column is-three-fifths is-offset-one-fift box has-background-light">
                                    <strong>No metadata, file is save</strong>
                            </div>
                        {%endif%}
                        <div class="buttons is-centered is-flex-wrap-wrap">
                            <form method="post" action="{% url 'meta_view' %}">
                                {% csrf_token %}
                                <button class="button is-link mr-2 mb-2" name="action" value="download_json" type="submit">
                                    Download JSON metadata
                                </button>
                            </form>
                            <form method="post" action="{% url 'meta_view' %}">
                                {% csrf_token %}
                                <button class="button is-info mr-2 mb-2" name="action" value="show_json" type="submit">
                                    Show JSON metadata
                                </button>
                            </form>
                            <form method="post" name="action" value="" action="{% url 'meta_view' %}">
                                {% csrf_token %}
                                <input type="hidden" name="file_id" value="{{ file_id }}">
                                <button class="button is-danger mr-2 mb-2" name="action" value="download_clear_file" type="submit">
                                    Download without metadata
                                </button>
                            </form>
                            <a href="{% url 'home_view' %}" class="button is-light mb-2">
                                Back to Main Menu
                            </a>
                        </div>
                </div>
                
            </div>
        </section>
    
</body>
</html>