asgiref==3.11.1
cffi==2.0.0
chardet==4.0.0
cryptography==46.0.4
Django==6.0.2
pdfminer.six==20201018
pdfx==1.4.1
pycparser==3.0
pypdf==6.6.2
python-dotenv==1.2.1
sortedcontainers==2.4.0
sqlparse==0.5.5
