#drop-area {
    border: 2px dashed #3273dc;
    cursor: pointer;
    transition: all 0.25s ease;
    width: 25%;
    min-height: 10rem;
    margin: 0 auto 1% auto;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;     
    text-align: center;  
}

#drop-area.is-hovered {
    background-color: #f0f6ff;
    border-color: #2759a5;
}

#drop-area input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}
